.today-component {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    .today-info {
        display: grid;
        grid-template-rows: 1fr 1fr;
        row-gap: 2rem;
        .loc-time{
            .loc {
                font-size: 24px;
                font-weight: bold;
            }
            .time {
                font-size: 18px;
            }
        }
        .other {
            width: 80%;
            font-size: 18px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(auto-fit,minmax(10px,40px));

            span:nth-child(even) {
                text-align: right;
            }
        }
    }   
    .today {
        margin: auto;
        width: 60%;
    }
    .view-hourly {
        text-align: right;
    }
}